.Camera{
    transform: rotateY(180deg);
}


.Camera video{
    border: 1px dotted red;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    /*bottom: 0;
    right: 0;*/
}

.Camera canvas{
    border: 1px dotted green;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    /*bottom: 0;
    right: 0;*/
}